.container {
    background-color: rgb(40, 44, 52);
    color: black;
    width: 75%;
    border: 10px solid grey;
    margin: auto;
    height: 55vh;
    border-radius: 10px;
    margin-top: 35px;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 0px;
}

.boxes {
    border: 1px solid white;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 10px;
}