.heading {
    text-align: center;
}

.text-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 35px;
}

.input {
    /* width: '100%'; */
    border-width: 2px solid red;
}